.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

/* we might need these two later: */
/* h1 {
  color: green;
  font-style: italic;
}

.blog {
  color: grey;
  padding-top: 5px;
  font-size: 15 px;
} */